
/* body {
  background-color: #100DB1;
} */
.text {
    text-align: center;
    color: '#343434';
     font-weight: '700';
      font-size: '16px';
       font-family: 'Poppins';
  }
.otherText{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #343434;
}
 
  